body
{
	font-family: Times New Roman, Arial, sans-serif;
	text-align: justify;
	background-image: url(images/logoX.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 100px 100px;
}

h1, h2
{
	font-family: Impact, Arial, sans-serif;
	text-align: center;
	color: black;
	font-weight: bold;
	font-style: italic;
}

img
{
	float : top
	widht : 30%
}
