hr{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}
.container-grid{
	margin-bottom: 10vh;
}
.glossary{
	padding: 5vh 5vh;
	width: 50vw;
}
.glossary .glossaryOptions{
	background: linear-gradient(45deg, #FE0000, #ba0d00);
	border-radius: 5px;
}
.glossary nav ul li a{
	text-decoration:none;
	color: white;
	font-size: 1.3em;
	font-family : Impact, sans-serif ;
}
.glossary nav ul li ul a{
	text-decoration:none;
	color: black;
	font-size: 1em;
	font-family : Impact, sans-serif ;
}
.glossary h2{
	text-align: center;
	justify-content: center;
	align-items: center;
	color: black;
	margin: 0;
	font-weight: bold;
	font-size: 2vw;
	font-family : Impact, sans-serif ;
	margin: 1em;
}
.glossary .filter{

}
.glossary nav{
	width: 50%;
	margin: 0 auto;
}
.glossary nav ul{
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
    align-items: center;
}
.glossary nav ul li{
	float: left;
	width: 45%;
	text-align: center;
	position: relative;
	border-style: none;
    border-radius: 5px;
}
.glossary nav ul li a{
	margin: 0;
}
.glossary nav ul:after{
	content: "";
	display: table;
	clear: both;
}
.glossary nav a{
	display: block;
	padding: 10px 0px;
	cursor: pointer;
}
.glossary .under{
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1000;
}
.glossary nav > ul li:hover .under{
	display: block;
	border-style: none;
	border-radius: 5px;
}
.glossary .under li{
	float: none;
	width: 100%;
	text-align: left;
}
.glossary .under a{
	padding: 10px;
	border-bottom: none;
	cursor: pointer;
}
.glossary .under a:hover{
	border-bottom: none;
	background-color: rgba(150, 150, 150, 0.2);
}
#buttonContainer{
	padding: 5vh
}
table{
	border-collapse: collapse;
	font-family : Impact, sans-serif ;
}
th,td{
	border: 1px solid black;padding: 10px 20px;
}
.searchBox{
	text-align: center;
	justify-content: center;
	align-items: center;
}
.searchBar{
	border-style: none;
	padding:10px;
	letter-spacing: 1px;
	outline: none;
	font-family : Impact, sans-serif ;
	padding-right: 40px;
	background-color: transparent;
	border-bottom:1px solid rgba(255,255,255,.5);
	font-size: 18px;
	font-weight: 100;
}
a{
	color: black
}
