.fireStationParent{
	height: 110vh;
	width: 100%;
	margin: 30px 0;
}
.fireStation{
	max-width: 1300px;
	width: 850px;
	height: auto;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
}
.grid-item{
	cursor: pointer;
	width: 100px;
	height: 100px;
	background: #333;
	color: white;
	font-family: Impact, sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-item[name=""]{
	line-height: 100px;
}
div[name="remise"]{
	width: 210px;
}
.alarm{
	align-items: center;
	justify-content: center;
	text-align: center;
}
#fire_alarm_img{
	width : 60%;
	cursor: pointer;
}
#morts_au_feu_img{
	width: 100%;
	cursor: pointer;
}
.card{
	position:absolute;
	width: 200px;
	min-height: 100px;
	padding: 0;
	padding-bottom: 1em;
	margin: 0;
	background: #060c21;
	display: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-family: sans-serif;
}
.card .content{
	padding: 0;
	margin: 0;
	color: white;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.card .content h3{}
.card .content p{
	position: relative;
	left: 5%;
	padding: 0;
	margin: 0;
	margin-top: 20%;
	width: 90%;
	text-align: center;
}

.morts_au_feu_content{
	text-align: center;
	justify-content: center;
	align-items: center;
}
figure{
	margin: 0;
	text-align: center;
	justify-content: center;
	align-items: center;
}
figure img{
	width: 30vw;
	margin-top: 10vh;
}
.morts_au_feu_content{
	display: grid;
	grid-template-columns: repeat(auto-fill, 400px);
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
}
.morts_au_feu_content p{
	width: 92%;
	margin: 5%;
	font-family: Impact, sans-serif;
}
