/* La Radio.html */
#radioTabContainer{
	height: 10vh;
	margin-top: 15vh;
	margin-bottom: 20vh;
}
.radioTabButton{
    background: linear-gradient(45deg, rgb(68, 114, 196), rgb(0, 51, 153));
}
.radioTabButton:active {
    background: linear-gradient(45deg, rgb(0, 51, 153), rgb(68, 114, 196));
}

/* jeuRadio.html */
.gameContent{
	width: 100vw;
	min-height: 45vh;
}
.gameContent #radioTabContainer{
	max-width: 1300px;
	width: 850px;
	height: auto;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 100px);
	justify-content: center;
	align-items: center;
	grid-gap: 10px 100px;
}
.gameContent .radioTabButton{
	width: 150px;
	height: 60px;
}
.gameContent p{
	width: 70vw;
	margin-left: 15vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	font-family : Impact, sans-serif ;
}

/* Pages de jeu */
.title2{
	position: relative;
	top: -7vh;
	width: 100vw;
	text-align: center;
	font-family : Impact, sans-serif ;
	font-size: 2em;
	color: rgb(0, 51, 153);
}
h2{
	margin: 0;
	padding: 0;
}
.content{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 10vh;
}
.content p{
	font-family : Impact, sans-serif ;
}
.messages{
	width: 60vw;
}
#second-message{
	margin-top: 7vh;
}
.message-holder{
	width: 100%;
	min-height: 3em;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, 120px);
	justify-content: center;
	align-items: center;
	/* border: dashed; */
	border-radius: 6px;
	background-color: #bababa;
	font-family: Impact, sans-serif;
}
.labelsAndButtons{
	min-width: 15%;
	max-width: 30%;
	max-height: 300px;
	margin-bottom: 10vh;
}
.labels{
	height: 100%;
	width: 100%;
	padding-top: 5%;
	margin-bottom: 5%;
	border-radius: 6px;
	background-color: #bababa;
	overflow-y: scroll;
}
.label{
	background-color: rgb(68, 114, 196);
	border-radius: 5px;
	font-family : Impact, sans-serif ;
	align-items: center;
	text-align: center;
	padding: 5px 5px;
	margin: 10px;
	cursor: pointer;
}
button[name='reset']{
	height: 1.5em;
	width: 100%;
	margin-bottom: 5%;
}
button[name='correc']{
	height: 1.5em;
	width: 100%;
	background: linear-gradient(45deg, rgb(48, 186, 62), rgb(0, 105, 10));
}
.correctionBox{
	min-width: 15%;
	max-width: 30%;
	padding: 1%;
	border-radius: 6px;
	background-color: #bababa;
	display: none;
}
.correctionExplanation{
	position:absolute;
	width: 200px;
	min-height: 110px;
	padding: 0;
	margin: 0;
	border-radius: 6px;
	background-color: #878787;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family : Impact, sans-serif ;
	display: none;
	padding: 1%;
}
