body{
	font-family: Impact, Arial, sans-serif;
	text-align: justify;
	background-color: white ;
	background-size: 100vw 100vh;
	background-attachment: fixed;
	overflow: hidden;
}

header{
	background: linear-gradient(45deg, #FDFDFD 40%,  #F1FF1A) ;
	height: auto ;
}

nav{

}
img{
	float : top;
	width : 10vw;
}

h1{
	text-align: center;
	color: black;
	font-weight: bold;
	font-style: italic;
	font-size: 5vw;
	font-family : Impact, sans-serif ;
}

.container{
	display: flex;
	justify-content: space-evenly;
    align-items: center;
	margin-bottom: 5vh;
}
#tabContainer{
	height: 10vh;
}
.tabButton{
	position: relative;
	width: 20%;
	height: 100%;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 5px;
    outline: none;
    color: white;
    background: linear-gradient(45deg, #FE0000, #FE0000);
    box-shadow: black 3px -3px;
    cursor: pointer;
    transition-duration: 0.2s;
	font-family: Impact, sans-serif;
	font-size: 1.3em ;
}
.tabButton:hover {
    box-shadow: none;
    transform: translate3d(3px,-3px,0);
    transition-delay: 0;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: line;
}
.tabButton:active {
    background: linear-gradient(45deg, #85262e, #501527);
}



section{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	height : auto ;
	align-items: center;

}

#casque{
	width: 30em ;
	height: auto ;
}

p{
	width : 55% ;
	margin : auto ;
}


footer{
	display: flex ;
	align-items: baseline;
	justify-content: space-around;


	position: absolute;
	bottom: 10px ;
	width: 100% ;
	height : 40px ;
	background : linear-gradient( 0deg, #F1FF1A, #FDFDFD ) ;

}

#homebutton {
	position: relative;
	width: 15%;
	height: 90%;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 3px;
    outline: none;
    color: white;
    background: linear-gradient(45deg, #FE0000, #FE0000);
    box-shadow: black 3px -3px;
    cursor: pointer;
    transition-duration: 0.2s;
	font-family: Impact, sans-serif;
	font-size: 1.0em ;
}
